.carrito-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.carrito-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.carrito-container ul {
  list-style: none;
  padding: 0;
}

.carrito-container li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contenedor de pago y total */
/* Contenedor del total y el botón de pago */
.carrito-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

/* Botón de pagar alineado a la izquierda */
.pagar-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.pagar-btn:hover {
  background-color: #218838;
}

.carrito-footer h3 {
  margin: 0;

}