html, body {
  width: 100%;
  height: 100%;
  margin: 0%;
  overflow-x: hidden; /* Evita scroll horizontal innecesario */
  overflow-y: auto; /* Asegura que se pueda hacer scroll vertical */
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima de toda la página */
  max-width: 100%; /* Previene desbordamientos */
  margin-top: 60px; /* Espaciado para compensar el navbar fijo */
  width: 100%;
  padding: 0;
  
}

.content {
  flex-grow: 1; /* Permite que el contenido crezca si es necesario */
  padding: 0px; /* Espaciado interno */
  display: flex; /* O usa grid si prefieres */
  flex-direction: column; /* Asegura que los hijos estén en una columna */
}